services:
  pvtest:
    build: .
    image: pv-test-linux
    working_dir: /work
    volumes:
      - ../..:/work
    command: >
      bash -lc "
      pip install --no-cache-dir -e /work &&
      python /work/tests/main.py
      "
    stdin_open: true
    tty: true
